<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" [fixedLayout]="true">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Endereço </th>
        <td mat-cell *matCellDef="let row"> {{row.address + ", " + row.addressNumber}} </td>
      </ng-container>

      <!-- Distance Column -->
      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef> Distância </th>
        <td mat-cell *matCellDef="let row"> {{row.distance.toFixed(2) + "km"}} </td>
      </ng-container>

      <!-- SeeMap Column -->
      <ng-container matColumnDef="seeMap">
        <th mat-header-cell *matHeaderCellDef> Ver no Mapa </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="focusOnSchool(row)"><mat-icon>visibility</mat-icon> </button>
        </td>
      </ng-container>

      <!-- SeeRoute Column -->
      <ng-container matColumnDef="seeRoute">
        <th mat-header-cell *matHeaderCellDef> Ver Rota </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="routeToSchool(row)"><mat-icon>directions_run</mat-icon> </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Quando não há dados -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">Desculpe, nenhum dado corresponde aos filtros escolhidos.</td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5]" [hidePageSize]="true" aria-label="Select page of users" (page)="onPageChange($event)"></mat-paginator>