table, table.mat-table {
    // width: 100vw;
    background: rgba(0, 18, 38, 0.6);
    & * {
        color: white !important;
        text-shadow: 0px 0px 2px white;
    }

    .mat-header-cell {
        border-bottom: 2px solid white;
    }

    .mat-column-name {
        flex: none;
        width: 400px;
        padding-right: 10px;
    }
    .mat-column-address {
        flex: none;
        width: 400px;
        padding-right: 10px;
    }
    .mat-column-distance {
        flex: none;
        width: 100px;
        padding-right: 10px;
    }
    .mat-column-seeMap {
        flex: none;
        width: 100px;
        text-align: center;
        padding-right: 10px;
    }
    .mat-column-seeRoute {
        flex: none;
        width: 100px;
        text-align: center;
        padding-right: 10px;
    }
}

.mat-paginator {
    background: none;
    & * {
        color: white !important;
        text-shadow: 0px 0px 2px white;
    }
}
  
.mat-form-field {
font-size: 14px;
width: 100%;
}
  
td, th {
    width: 25%;
}