<div class="school-explorer__container">
    <bing-map *ngIf="(mapLoaded | async)"></bing-map>
    <div class="school-explorer__scrollable">
        <form class="school-explorer__formGrid" [formGroup]="fieldsService.formGroup" *ngIf="(schoolToExplore | async)">
            <!-- NOME -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>NOME</mat-label>
            <input
                matInput
                formControlName="name"
                type="text"
                aria-label="name">
            </mat-form-field>

            <!-- ENDEREÇO -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>ENDEREÇO</mat-label>
            <input
                matInput
                formControlName="address"
                type="text"
                aria-label="address">
            </mat-form-field>
            
            <!-- NÚMERO -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>N<sup>o</sup></mat-label>
            <input
                matInput
                formControlName="addressNumber"
                type="text"
                aria-label="addressNumber">
            </mat-form-field>

            <!-- BAIRRO -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>BAIRRO</mat-label>
            <input
                matInput
                formControlName="neighborhood"
                type="text"
                aria-label="neighborhood">
            </mat-form-field>

            <!-- ENDEREÇO -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>CEP</mat-label>
            <input
                matInput
                formControlName="zipCode"
                type="text"
                aria-label="zipCode">
            </mat-form-field>

            <!-- ADMINISTRAÇÃO -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>ADMINISTRAÇÃO</mat-label>
            <input
                matInput
                formControlName="zipCode"
                type="text"
                aria-label="zipCode">
            </mat-form-field>

            <!-- TIPO -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>TIPO</mat-label>
            <input
                matInput
                formControlName="type"
                type="text"
                aria-label="type">
            </mat-form-field>

            <div class="form-split">
                <div class="form-split__hr"></div>
                <p>Contato</p>
                <div class="form-split__hr"></div>
            </div>

            <!-- TELEFONE -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>TELEFONE</mat-label>
            <input
                matInput
                formControlName="telephoneNumber"
                type="text"
                aria-label="telephoneNumber">
            </mat-form-field>

            <!-- EMAIL -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>EMAIL</mat-label>
            <input
                matInput
                formControlName="email"
                type="text"
                aria-label="email">
            </mat-form-field>
        
            <!-- WEBSITE -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>WEBSITE</mat-label>
            <input
                matInput
                formControlName="website"
                type="text"
                aria-label="website">
            </mat-form-field>

            <!-- BLOG -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>BLOG</mat-label>
            <input
                matInput
                formControlName="blog"
                type="text"
                aria-label="blog">
            </mat-form-field>

            <!-- TWITTER -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>TWITTER</mat-label>
            <input
                matInput
                formControlName="twitter"
                type="text"
                aria-label="twitter">
            </mat-form-field>

            <!-- FACEBOOK -->
            <mat-form-field class="school-explorer__form" appearance="outline">
            <mat-label>FACEBOOK</mat-label>
            <input
                matInput
                formControlName="facebook"
                type="text"
                aria-label="facebook">
            </mat-form-field>

                
        </form>
    </div>
</div>