.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;

    .icon-tray__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            margin-right: 20px;
            &, & > * {
                transition: 150ms;
            }
            &:hover {
                cursor: pointer;
                filter: brightness(1.35);
                svg {
                    transform: scale(1.2);
                }
            } 
            &:active {
                filter: brightness(1.5);
                svg {
                    filter: brightness(1.25);
                    transform: scale(0.9);
                }
            }
        }
    }
    .footer__automatrio {
        text-align: right;
    }
}