.logo__container {
    display: flex;
    justify-content: center;
    h1 {
        margin: 0px;
        text-shadow: 0px 0px 3px white;
        font-size: 35px;
        font-weight: 900;
    }

    img {
        z-index: 1;
    }

    img, .glow {
        width: 140px;
    }

    .glow {
        z-index: -1;
        position: absolute;
        width: 140px;
        opacity: .4;
        filter: blur(2px);
        transition: 150ms;
    }

    #title__first-half {
        text-align: right;
    }

    #title__second-half {
        text-align: left;
    }

    #title__first-half, #title__second-half {
        padding-top: 40px;
        h3 {
            font-size: 24px;
            color:rgb(107, 255, 169);
            text-shadow: 0px 0px 2px rgb(169, 255, 205, .7);
        }
    }

    .img__container {
        display: grid;
        grid-template-columns: repeat(3, 110px);
        align-items: center;
        justify-items: center;
        &:hover {
        cursor: pointer;
        .glow {
            opacity: 1;
            filter: blur(3px);
            }
        }
        &:active {
        .glow {
            opacity: 1;
            filter: blur(2px);
            }
        }
    }
}