<div class="filters-panel__container">
    
    <header class="filters-panel__header">
        <div class="filters-panel__close-button">
            <button mat-icon-button (click)="dismissFiltersPanel()">
                <mat-icon >close</mat-icon>
            </button>
        </div>
        <h3 class="filters-panel__title">
            {{"Filtros"}}
        </h3>
    </header>
    <main>
        <div class="slider__container">
            <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                [(ngModel)]="filter.maxDistance"
                tickInterval="1"
                step=".5"
                min="0"
                max="100"
                aria-label="units">
            </mat-slider>
            <label>Distância Máxima</label>
        </div>
        <ng-container *ngIf="schoolTypes && schoolAdministrativeDepartments">
            <app-carrousel (change)="onFilterSelected($event)" [carrouselData]="schoolTypes"></app-carrousel>
            <app-carrousel (change)="onFilterSelected($event)" [carrouselData]="schoolAdministrativeDepartments"></app-carrousel>
        </ng-container>
    </main>
</div>