<main class="home__container">
  <form #searchForm="ngForm" class="home__background-panel" (submit)="searchForLocation()">
      <mat-form-field class="address-form" appearance="outline">
        <mat-label>Procurar escolas próximas a:</mat-label>
        <input
          matInput
          name="search"
          type="text" 
          [(ngModel)]="address"
          required
          aria-label="campo para pesquisar seu endereço"
          [placeholder]="'Digite um endereço de Porto Alegre'">
      </mat-form-field>
      <button
        mat-icon-button
        aria-label="search"
        [disabled]="!searchForm.valid"
        type="submit"
        matTooltip = "Pesquisar">
        <mat-icon
          [matTooltipDisabled]="searchForm.valid"
          matTooltip="Digite algo">
          search
        </mat-icon>
      </button>
      <button 
        color="warn" 
        mat-fab 
        aria-label="filter" 
        type="button" 
        matTooltip="Filtros"
        (click)="expandFilterMenu()">
        <mat-icon>filter_alt</mat-icon>
      </button>
  </form>
</main>